
.cats h1,
.cats h2,
.cats h3,
.cats h4,
.cats h5,
.cats h6,
.cats p {
    color: white;
}

.reveal .controls {
    color: #139c48;
}

.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
    color: #139c48;
}

.white-behind {
    background-color: white;
}